<mat-toolbar color="primary" >
    
  <span>NewsMedia</span>  
  <span class="example-spacer"></span>
  <button mat-button color="white" routerLink="/main">Home
</button>
<button mat-button color="white" routerLink="/">Logout
</button>
</mat-toolbar>
<div class="about-page">
  <!-- <mat-card class="mat-elevation-z12"> -->
    <h1 title style="text-align:center;">About Us</h1>
    
          <content>
          
            <img class="newsimg" mat-card-image src="./assets/images/mynews.jpg" alt="news">
            
            <p>NewsMedia is a new premium digital platform offering important and useful news and information 
                about the world to audiences in an effective and efficient way.            
            We deliver an unprecedented number of multimedia stories, exclusive videos and real-time in-depth
                 data to keep you smart, sharp and get ahead.
              </p>

                  <p>We hope you are as excited as we are about NewsMedia</p>

                  <p>Thank you for reading this.</p>            
              
          </content>
      
  
</div>